# important
.env
.env.test
.gitignore
.gitmodules
.github
.git
.github
.gitattributes
.pre-commit-config.yaml
.prettier*
*.db
# notes
_notes
README.md
SECURITY.md
NOTES.md
TODO.md
# logs
*.log
# vscode
.vscode
*.code-*
# docker
.dockerignore
docker-compose.*.yml
docker-compose.yml
# backend
.pytest_cache
venv
htmlcov
poetry.lock
# frontend
node_modules
package-lock.json
.solid
dist
.DS_Store
.editorconfig
.eslintrc.*
.prettierignore
.prettierrc
.idea
